.mainpage-inner {
    background-color: rgb(32, 127, 139);
    min-height: 500px;
}

.title-main {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 100px;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

.download-box {
    background-color: rgb(255, 143, 161);
    display: inline-block;
    cursor: pointer;
    padding: 10px;

    &:hover {
        background-color: rgb(255, 86, 114);
    }

    .download {
        font-size: 20px;
        color: white;
    }
}

.mainpage-item {
    p {
        color: white;
        text-align: center;
    }
}

.main-text {
    font-size: 40px;
    font-weight: 600;
}

.main-context {
    font-size: 25px;
}

.download-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpage-item {
    p {
        position: relative;
        top: 40px;
    }

    div {
        position: relative;
        top: 40px;
    }
}

.our-title {
    color: rgb(32, 127, 139);
    font-size: 50px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 60px;
}

.main-services-title {
    font-size: 35px;
    margin-bottom: 25px;
}

.main-services-context {
    font-size: 20px;
    margin-bottom: 20px;
}

.services-main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.all-wrappers {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    margin-right: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards-item {

    height: 400px;
    color: white;
    width: 300px;
    margin-left: 40px;
    margin-top: 50px;
    background-color: rgb(32, 127, 139);
}

.icon {
    font-size: 80px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    transition: 2s;

    &:hover {
        transform: rotate(180deg);
    }
}

.card-context {
    p {
        text-align: center;
    }
}

.card-title {
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 20px;
}

.cards-item {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

body {
    background-image: url(../../img/sativa.png);
    min-height: 600px;
}

.services-last-part {
    margin-top: 50px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-last-part-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.futured-inner {
    background-color: rgb(32, 127, 139);
    display: flex;
    justify-content: space-evenly;
    min-height: 200px;
    color: white;

    .futured-inner-item {
        margin-top: 30px;

        .futured-title {
            font-size: 50px;
            font-weight: 600;
        }

        .futured-description {
            font-size: 40px;
        }
    }

}