.our-plans-title {
    color: rgb(32, 127, 139);
    font-weight: 600;
    font-size: 35px;
}

.our-plans-context {
    display: flex;

    flex-wrap: wrap;
}

.plans-context-item {
    width: 500px;
    margin-right: 20px;
}

.plans-title {
    font-size: 40px;

}

.plans-description {
    font-size: 18px;
}

.our-plans {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.our-plans-title {
    margin-bottom: 30px;
    margin-top: 30px;
}

.our-plans-cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

}

.plan-card-items {

    width: 300px;
    min-height: 400px;
    margin-left: 20px;
    margin-top: 20px;
}

.our-plans-card-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-name {
    background-color: black;

    p {
        text-align: center;
        font-size: 30px;
        color: white;
    }
}

ul {
    list-style: none;

    li {
        color: gray;
        text-align: center;
        font-size: 25px;
        margin-top: 40px;
    }
}

.plan-card-items {
    background-color: rgb(240, 240, 240);
}

.plan-price {
    background-color: green;
    color: white;
    margin-bottom: 15px;

    p {
        text-align: center;
        font-size: 65px;
    }
}

.read-more {

    cursor: pointer;
    margin-bottom: 30px;




    p {
        color: white;
        text-align: center;
        font-size: 25px;
    }
}

.red {
    background-color: rgb(209, 0, 0);

    &:hover {
        background-color: rgb(221, 16, 16);
    }
}

.blue {
    background-color: blue;

    &:hover {
        background-color: rgb(103, 103, 236);
    }
}

.green {
    background-color: rgb(15, 255, 15);

    &:hover {
        background-color: rgb(33, 189, 33);
    }
}

.project {
    display: flex;
    flex-wrap: wrap;
}

.project-box {
    margin-top: 30px;
}

.footer {
    margin-top: 100px;
}

.form-main {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin-bottom: 10px;
    }
}