<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>paterna</title>
</head>

<body>

    <!-- header start -->
    <header>
        <div class="navbar-main">
            <div class="navbar">
                <div class="navbar-item logo">
                    <p>PETERNA</p>
                </div>
                <div class="navbar-item pages">
                    <div class="pages-item">
                        <p>HOME</p>
                    </div>
                    <div class="pages-item">
                        <p>SERVICES</p>
                    </div>
                    <div class="pages-item">
                        <p>PEIRCING</p>
                    </div>

                    <div class="pages-item">
                        <p>CONTACT</p>
                    </div>
                    <div class="hamburger">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- header end -->
    @RenderBody()
    <!-- footer start -->
    <footer>
        <div class="footer">
            <div class=" footer-item our-plans">

                <div class="our-plans-context">

                    <div class="plans-context-item">
                        <div class="our-plans-inner">
                            <p class="our-plans-title">
                                CONTACT US :
                            </p>

                        </div>
                        <p class="plans-title">Lorem ipsum dolor sit amet</p>
                        <p class="plans-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris
                            vehicula at nunc id posuere.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris
                            vehicula at nunc id posuere.
                        </p>
                    </div>
                    <div class="plans-context-item">
                        <div class="our-plans-inner">
                            <p class="our-plans-title hidden">
                                OUR PLANS :
                            </p>

                        </div>
                        <p class="plans-title">Lorem ipsum dolor sit amet</p>
                        <p class="plans-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris
                            vehicula at nunc id posuere.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris
                            vehicula at nunc id posuere.
                        </p>
                    </div>
                </div>


            </div>
            <div class="footer-item form-main">
                <div class="footer-item form">
                    <div class="inner-footer-item form-item">
                        <div class="inputs">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email Adress">
                        </div>
                        <input type="text" placeholder="Message" class="message">
                        <button type="submit">Submit Request</button>
                    </div>
                    <div class="inner-footer-item adress">
                        <p>
                            <b>Adress:</b>123,Your locality , Counrty Name, Pin-20100090.
                        </p>
                        <p>
                            <b>Email:</b>info@yourdomain.com
                        </p>
                        <p>
                            <b>Web:</b>www.yourdomain.com
                        </p>
                        <p>
                            <b>Mobile:</b>+00-909-808-707-00
                        </p>
                    </div>
                </div>
            </div>
            <div class="dark-box">
                <p>2015 www.yourdomain.com | All Right Reserved | Terms | Policies | Licenses</p>
            </div>
        </div>
    </footer>
    <!--footer end -->
</body>

</html>